<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.onefm2.iapplugin"
    version="0.1.0">

    <name>IAPPlugin</name>
    <author>Youngjoo Park</author>
    <keywords>IAPPlugin</keywords>
    <license>MIT License</license>
    
    <asset src="www/IAPPlugin.js" target="IAPPlugin.js" />
    
    <js-module src="www/IAPPlugin.js" name="IAPPlugin" >
        <clobbers target="IAPPlugin" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=2.5.0" />
    </engines>
    
    <platform name="android">
    	<!-- android-specific elements -->
	</platform>
	<platform name="ios">
    	<!-- ios-specific elements -->
        <config-file target="config.xml" parent="/*" >
            <feature name="IAPPlugin" >
                <param name="ios-package" value="">
            </feature>
        </config-file>
            
        <header-file src="src/ios/IAPPlugin.h" />
        <header-file src="src/ios/OFStoreManager.h" />
        <source-file src="src/ios/IAPPlugin.m" />
        <source-file src="src/ios/OFStoreManager.m" />
        
        <framework src="StoreKit.framework"/>
	</platform>

 </plugin>
