<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.onefm2.iapplugin"
    version="0.1.0">

    <name>IAPPlugin</name>

    <license>MIT License</license>

    <platform name="android">
    	<!-- android-specific elements -->
	</platform>
	<platform name="ios">
    	<!-- ios-specific elements -->
	</platform>

 </plugin>